<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MailSendbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="@Url.Action("Index", "Home")">MailSendbox</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="https://github.com/saxx/MailSendbox">Fork on GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
